{% extends 'Health/base.html'%}
{% load static %}
{% block title %} Home {% endblock title %}
{% block body %}
<section id="home" class="slider" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">

               <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="col-md-offset-1 col-md-10">
                                   <h3>Let's make your life happier</h3>
                                   <h1>Healthy Living</h1>
                                   <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our
                                        Doctors</a>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second">
                         <div class="caption">
                              <div class="col-md-offset-1 col-md-10">
                                   <h3>Healthy Living</h3>
                                   <h1>New Lifestyle</h1>
                                   <a href="#about"
                                        class="section-btn btn btn-default btn-gray smoothScroll">More About
                                        Us</a>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third">
                         <div class="caption">
                              <div class="col-md-offset-1 col-md-10">
                                   <h3>Hospital Management System</h3>
                                   <h1>Your Health Benefits</h1>
                                   <a href="#news"
                                        class="section-btn btn btn-default btn-blue smoothScroll">Read
                                        Stories</a>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>







<h2 align="center">Welcome to a Professional Health Care</h2>
<p>
     Hospital management system is a computer system that helps manage the information related to health care and aids in the job completion of health care providers effectively.
     HMS came into the picture of hospital management as early as 1960 and have ever since been evolving and synchronizing with the technologies while modernizing healthcare facilities. In today’s world, the management of healthcare starts from the hands of the patients through their mobile phones and facilitates the needs of the patient.
</p>
<p>
     HMS was introduced to solve the complications coming from managing all the paper works of every patient associated with the various departments of hospitalization with confidentiality. HMS provides the ability to manage all the paperwork in one place, reducing the work of staff in arranging and analyzing the paperwork of the patients.
     Hospital Management System brings together all the information and processes of a hospital, in a single platform. It presents you with a unified 360-degree view for managing patients, doctors, inventory, appointments, billing information, finances and much more.
</p>
<p>
     The IT system has revolutionised the field of medicine. In this fast-paced world of medicine, it is a daunting task to manage a multi-speciality hospital. A hospital management system (HMS) is a computer or web based system that facilitates managing the functioning of the hospital or any medical set up1. This system or software will help in making the whole functioning paperless. It integrates all the information regarding patients, doctors, staff, hospital administrative details etc. into one software. It has sections for various professionals that make up a hospital.
</p>
{% endblock body%}